*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
  text-transform: capitalize;
}

h1 {
  font-size: 22px;
}

header {
  background: rgb(255 113 14);
}
.entity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  border-radius: 8px;
  border: 6px solid rgba(255,101,80,0.33);
  background:#fad6d6;
  width: auto;
  margin-bottom: 6px;
  padding: 6px;
}

.entity div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.list{
display: flex;
flex-direction: column;
}

.data{
 
}
.nameData{
  font-weight: bold;
  font-size: 18px;
}

.column {
  padding-left: 10px;
  border: 6px solid rgba(137,80,255,0.33);
  background: #e1d6fa;
  border-radius: 8px;
  margin-bottom: 6px;
}
