*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.entity {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  border: 1px solid red;
  width: auto;
}

.entity div {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin: 4px;
}

.list{
display: flex;
flex-direction: column;
}

.data{
  background-color: aliceblue ;
}
.nameData{
  background-color: blueviolet;
}

.column {
  padding-left: 10px;
  border: 1px solid blue;
}
