.App form input{
  width: 60vw;
  height: 40px;
  margin: 6px;
}

.App button{
  width: 140px;
  height: 40px;
}

.App form{
  display: flex;
  align-items: center;
  justify-content: center;
}

.container{
  margin: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

header img{
  height: 40px;
}
